{% extends "skeleton/main.jinja" %}

{% block "title" %}Toutes les données{% endblock %}

{% block "head" %}<meta http-equiv="refresh" content="10">{% endblock %}

{% block "content" %}
<h1>Toutes les données</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Capteur</th>
        <th>Pièce</th>
        <th>Lieu</th>
        <th>Date</th>
        <th>Heure</th>
        <th>Température</th>
    </tr>
    {% for entree in donnees %}
    <tr>
        <td>{{ entree.id }}</td>

        <td><a href="{% url 'capteur.view' id=entree.capteur.pk %}">{{ entree.capteur }}</a></td>

        <td>{{ entree.capteur.piece }}</td>

        <td>{{ entree.capteur.lieu }}</td>

        <td>{{ entree.date }}</td>
        <td>{{ entree.heure }}</td>
        <td>{{ entree.temperature }}°C</td>
    </tr>
    {% endfor %}
</table>

<b>Total : {{ donnees|length }}</b>

<h2>Graphique</h2>
<img src="data:image/png;base64,{{ graph }}" alt="Graphique de Température">

<form method="get" action="{% url 'donnee.export' %}">
    <input type="hidden" name="ids" value="{{ donnees_ids|join:"," }}">
    <button type="submit">Exporter CSV</button>
</form>
{% endblock %}
