h1 {font-size: 2em; margin-bottom: 20px;}
h2 {font-size: 1.5em; margin-bottom: 20px;} 
h3 {font-size: 1.17em; margin-bottom: 20px;}
h4 {font-size: 1em; margin-bottom: 20px;}
h5 {font-size: 0.83em; margin-bottom: 20px;}
h6 {font-size: 0.67em; margin-bottom: 20px;}

a:link {color: inherit}
a:visited {color: inherit}

.missing {
    color: red;
}
