h1 {font-size: 2em; margin-bottom: 20px;}
h2 {font-size: 1.5em; margin-bottom: 20px;} 
h3 {font-size: 1.17em; margin-bottom: 20px;}
h4 {font-size: 1em; margin-bottom: 20px;}
h5 {font-size: 0.83em; margin-bottom: 20px;}
h6 {font-size: 0.67em; margin-bottom: 20px;}

a:link {color: inherit}
a:visited {color: inherit}

.missing {
    color: red;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

table th, table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}
