{% extends "skeleton/main.jinja" %}

{% block "title" %}Tout les capteurs{% endblock %}

{% block "content" %}
<h1>Tout les capteurs</h1>

{% for capteur in capteurs %}
    {% if capteur.nom %}
        <h3>{{ capteur.pk }} - {{ capteur.nom }}</h3>
    {% else %}
        <h3>{{ capteur.pk }}</h3>
    {% endif %}
    <a href="{% url 'capteur.view' id=capteur.pk %}"><button>Voir</button></a>
    <a href="{% url 'capteur.edit' id=capteur.pk %}"><button>Modifier</button></a>
{% endfor %}
{% endblock %}
